Django==5.2.8
django-cors-headers==4.3.1
django-nested-admin==4.1.1
Pillow==10.4.0
requests==2.32.3
urllib3==1.26.7
chardet==5.2.0
charset-normalizer==2.0.12
djangorestframework
django-filter 
django-import-export
djangorestframework-simplejwt